{{ $pageName := path.Base .Page.RelPermalink}}
{{ $subDir := .Get "subdir" | default "/"}}
{{ $chunkIdx := .Get "chunk" | default -1 }}
{{ $fileName := cond (eq $chunkIdx -1) ("full.good") (print "Chunk_" $chunkIdx ".good") }}
{{ $optsId := .Get "opts" | default "standard" }}
{{ with .Parent }}
<div class={{ print "opt_" (.Get "name") }} id={{ print (.Get "name") "_" $optsId }} style="display: none">
    <code>
        {{ path.Join "./static/" $pageName $subDir $fileName  | readFile | safeHTML }}
    </code>
</div>
{{ end }}
